## Connecting Your PostgreSQL to a SQL Table and Performing Some Queries

Exploring two SQL Table for Analytics;


1.   mailing_list
2.   products1

In [ ]:
Server [localhost]:
Database [postgres]:
Port [5432]:
Username [postgres]:
Password for user postgres:
psql (13.1)

postgres=# \c
You are now connected to database "postgres" as user "postgres".

#Connect to our working DB- reispartech
postgres=# \c reispartech (our DB)
You are now connected to database "reispartech" as user "postgres".

#import our SQL Table (mailing_list) into PostgreSQL for Analytics

reispartech=# \i C:/Users/Reispar_Tolulade/Downloads/mailing_list.sql
CREATE TABLE
INSERT 0 1
INSERT 0 1
INSERT 0 1....

reispartech=#
reispartech=# \d
                 List of relations
 Schema |        Name         |   Type   |  Owner
--------+---------------------+----------+----------

#import our SQL Table (products1) into PostgreSQL for Analytics
reispartech=# \i C:/Users/Reispar_Tolulade/Downloads/products1.sql
CREATE TABLE
INSERT 0 1
INSERT 0 1...

reispartech=#
reispartech=# \d
                 List of relations
 Schema |        Name         |   Type   |  Owner
--------+---------------------+----------+----------
(6 rows)

# Let's explore our imported SQL Table columns and Data Characters with constraints

reispartech=# \d products1
                                         Table "public.products1"
       Column       |         Type          | Collation | Nullable |                Default
--------------------+-----------------------+-----------+----------+---------------------------------------
 id                 | bigint                |           | not null | nextval('products1_id_seq'::regclass)
 product            | character varying(50) |           | not null |
 manufacturing_cost | numeric(6,2)          |           |          |
 created_at         | date                  |           |          |
Indexes:
    "products1_pkey" PRIMARY KEY, btree (id)

#Using the SELECT command, Let's Query our SQL Table (products1)

reispartech=# SELECT*FROM products1;
 id  |              product               | manufacturing_cost | created_at
-----+------------------------------------+--------------------+------------
   1 | Milk - Condensed                   |             266.83 | 2019-12-03
   2 | Pasta - Shells, Medium, Dry        |             841.98 | 2018-09-16
   3 | Chips Potato Swt Chilli Sour       |             930.60 | 2020-07-15
   4 | Bread - Bistro Sour                |             697.19 | 2018-05-17
   5 | Wine - Valpolicella Masi           |             981.62 | 2020-12-11
   6 | Beans - Turtle, Black, Dry         |             526.63 | 2019-01-10
   7 | Sage Ground Wiberg                 |             733.09 | 2019-09-16
   8 | Pepper - Roasted Red               |             492.17 | 2021-01-22
   9 | Bread Crumbs - Japanese Style      |             149.15 | 2018-12-28
  10 | Tortillas - Flour, 10              |             180.17 | 2019-07-23
  11 | Wine - Rubyport                    |             415.51 | 2018-10-21
  12 | Capon - Breast, Double, Wing On    |             578.45 | 2019-02-20
  13 | Otomegusa Dashi Konbu              |             594.92 | 2020-05-05
  14 | Crab Brie In Phyllo                |             232.80 | 2020-05-19
  15 | Skirt - 24 Foot                    |             712.05 | 2018-12-22
  16 | Wine - Champagne Brut Veuve        |             214.41 | 2021-01-09
  17 | Muffin Mix - Chocolate Chip        |             619.62 | 2019-12-25
  18 | Wine - Ruffino Chianti Classico    |             387.55 | 2019-06-02
  19 | Bagelers                           |             993.76 | 2018-06-19
  20 | Chicken - Whole                    |             520.40 | 2020-03-29
  21 | Scallops - U - 10                  |             943.74 | 2019-10-30
  22 | Wine - Baron De Rothschild         |             658.67 | 2018-08-21
  23 | Cake - Cake Sheet Macaroon         |             770.26 | 2019-12-13
  24 | Red Currants                       |             907.84 | 2021-05-07
  25 | Egg - Salad Premix                 |             276.76 | 2019-12-30
  26 | Beans - Soya Bean                  |             804.32 | 2020-05-12
  27 | Wine - Cotes Du Rhone              |             438.43 | 2019-02-22
  28 | Foie Gras                          |             126.70 | 2018-07-01
  29 | Cheese - Swiss Sliced              |             925.18 | 2018-08-13
  30 | Wine - Pinot Noir Pond Haddock     |             820.50 | 2018-12-10
  31 | Scallops - U - 10                  |             494.50 | 2019-03-31
  32 | Wine - Black Tower Qr              |             696.51 | 2018-07-29
  33 | Sugar - Brown                      |             418.89 | 2019-08-28
  34 | Ice Cream - Fudge Bars             |             999.12 | 2020-09-04
  35 | Sauce - Soya, Light                |             993.04 | 2019-04-19
  36 | Oil - Canola                       |             709.64 | 2021-05-03
  37 | Soup - Base Broth Chix             |             161.24 | 2019-08-18
  38 | Flour - Strong Pizza               |             766.65 | 2021-02-27
  39 | Island Oasis - Cappucino Mix       |             548.95 | 2019-06-29
  40 | Bagel - Everything Presliced       |             284.41 | 2020-12-07
-- More  --

# Narrow down on the unique locations in our SQL mailing_list Table column

reispartech=# SELECT distinct(location) from mailing_list;
        location
------------------------
 Burkina Faso
 Bangladesh
 Indonesia
 Italy
 Venezuela
 Uruguay
 Czech Republic
 Sweden
 United Kingdom
 Uganda
 Jordan
 Dominican Republic
 Cambodia
 Germany
 Macedonia
 Papua New Guinea
 Canada
 Sri Lanka
 Uzbekistan
 Finland
 Portugal
 Colombia
 Albania
 Saudi Arabia
 Ukraine
 Argentina
-- More  --

## Identify Customer names with small letter 'y' as last Letter in First_name column

reispartech=# SELECT * from mailing_list where first_name like '%y'; # (doesnt take Capital 'Y' in the name)
 id  | first_name |   location    |              email               |    company    | created_at
-----+------------+---------------+----------------------------------+---------------+------------
  14 | Camey      | Kenya         | cpaulind@delicious.com           | Linkbuzz      | 2019-01-31
  34 | Bendicty   | United States |                                  |               | 2018-12-19
  48 | Tabby      | Russia        | tjacob1b@microsoft.com           | Edgewire      | 2020-12-21
  51 | Bogey      | Greece        | bbyrnes1e@godaddy.com            | Topicware     | 2019-09-15
  60 | Alley      | Sri Lanka     |                                  | Katz          | 2021-02-02
  66 | Audrey     | Sri Lanka     | aramm1t@wiley.com                | Rooxo         | 2019-12-19
  67 | Lindsay    | Russia        | lfarley1u@economist.com          | Rhybox        | 2021-03-04
  73 | Geoffry    | Honduras      | geadie20@rakuten.co.jp           | Katz          | 2019-08-11
  77 | Gradey     | Russia        | ggauthorpp24@issuu.com           | Livefish      | 2020-07-16
  85 | Early      | Indonesia     |                                  | Wikizz        | 2020-04-12
 100 | Cathy      | United States | cwathan2r@hhs.gov                | Zoonder       | 2019-04-19
 108 | Lyndy      | China         | larnaudot2z@photobucket.com      | Minyx         | 2019-02-24
 130 | Tanny      | Brazil        |                                  | Aimbo         | 2020-04-29
 135 | Ivy        | Russia        | ipeckett3q@list-manage.com       | Thoughtstorm  | 2019-11-22
 165 | Rhody      | France        | rgisbey4k@unicef.org             | Skippad       | 2020-08-21
 171 | Kippy      | Colombia      | kagerskow4q@tuttocitta.it        | Dynabox       | 2018-08-28
 177 | Gabby      | Japan         | gpotzold4w@spiegel.de            | Wikibox       | 2018-07-29
 178 | Audy       | South Africa  | afassum4x@miibeian.gov.cn        |               | 2018-12-04
 193 | Cally      | Zambia        | ccritchley5c@surveymonkey.com    |               | 2018-05-27
 196 | Kayley     | France        | kdobrovolski5f@deliciousdays.com | Brightbean    | 2019-10-19
 205 | Ginny      | Germany       | gludy5o@loc.gov                  |               | 2019-04-20
 214 | Ky         | Bhutan        | kmulberry5x@pcworld.com          | Jaloo         | 2020-07-21
 227 | Cordy      | Moldova       | clie6a@latimes.com               | Gabvine       | 2019-05-27
 234 | Amity      | Russia        |                                  | Demivee       | 2020-06-18
 236 | Sly        | Reunion       | shouldey6j@nih.gov               | Gabtype       | 2020-01-21
 248 | Howey      | China         | hsnaddon6v@ft.com                | Flashset      | 2019-06-02 


## Identify Customer names where three (3) letters preceeds small letter 'y' in First_name column

 reispartech=# SELECT * from mailing_list where first_name like '___y'; 
 id  | first_name |   location   |           email            |  company  | created_at
-----+------------+--------------+----------------------------+-----------+------------
 178 | Audy       | South Africa | afassum4x@miibeian.gov.cn  |           | 2018-12-04
 364 | Judy       | Afghanistan  | jmoodiea3@topsy.com        | Reallinks | 2021-02-14
 424 | Addy       | Venezuela    | abaglinbr@businessweek.com |           | 2019-08-21
 425 | Ikey       | Japan        | imunghambs@altervista.org  | Gigabox   | 2019-05-11
(4 rows)

## Identify Customer names where letter 'y' appears anywhere in First_name column () disregarding case sentivity.

reispartech=# SELECT * from mailing_list where first_name like '%y%'; (any where the small letter y appears in the customer name)
 id  | first_name |      location       |               email                |    company    | created_at
-----+------------+---------------------+------------------------------------+---------------+------------
  14 | Camey      | Kenya               | cpaulind@delicious.com             | Linkbuzz      | 2019-01-31
  30 | Raymund    | Mauritius           | rbastickt@nih.gov                  | Thoughtworks  | 2020-04-30
  34 | Bendicty   | United States       |                                    |               | 2018-12-19
  36 | Lloyd      | Czech Republic      |                                    |               | 2018-06-19
  46 | Lyell      | Indonesia           | lyitshak19@ocn.ne.jp               | Edgetag       | 2018-08-12
  48 | Tabby      | Russia              | tjacob1b@microsoft.com             | Edgewire      | 2020-12-21
  51 | Bogey      | Greece              | bbyrnes1e@godaddy.com              | Topicware     | 2019-09-15
  60 | Alley      | Sri Lanka           |                                    | Katz          | 2021-02-02
  66 | Audrey     | Sri Lanka           | aramm1t@wiley.com                  | Rooxo         | 2019-12-19
  67 | Lindsay    | Russia              | lfarley1u@economist.com            | Rhybox        | 2021-03-04
  73 | Geoffry    | Honduras            | geadie20@rakuten.co.jp             | Katz          | 2019-08-11
  77 | Gradey     | Russia              | ggauthorpp24@issuu.com             | Livefish      | 2020-07-16
  79 | Royall     | Japan               | rdopson26@forbes.com               | Quatz         | 2020-08-14
  85 | Early      | Indonesia           |                                    | Wikizz        | 2020-04-12
 100 | Cathy      | United States       | cwathan2r@hhs.gov                  | Zoonder       | 2019-04-19
 105 | Lynelle    | Poland              | lrourke2w@google.es                | Wordpedia     | 2020-04-22
 108 | Lyndy      | China               | larnaudot2z@photobucket.com        | Minyx         | 2019-02-24
 130 | Tanny      | Brazil              |                                    | Aimbo         | 2020-04-29
 131 | Royall     | Sweden              | rdavidove3m@g.co                   | Latz          | 2019-07-10
 135 | Ivy        | Russia              | ipeckett3q@list-manage.com         | Thoughtstorm  | 2019-11-22
 139 | Elvyn      | Bulgaria            | esheerin3u@last.fm                 | Skyvu         | 2019-03-24
 153 | Sayre      | France              | sgruszecki48@rakuten.co.jp         | Fiveclub      | 2019-01-18
 165 | Rhody      | France              | rgisbey4k@unicef.org               | Skippad       | 2020-08-21
 171 | Kippy      | Colombia            | kagerskow4q@tuttocitta.it          | Dynabox       | 2018-08-28
 177 | Gabby      | Japan               | gpotzold4w@spiegel.de              | Wikibox       | 2018-07-29
 178 | Audy       | South Africa        | afassum4x@miibeian.gov.cn          |               | 2018-12-04
-- More  -- 

# Ignore the Case Sentivity for letter y using ilike

reispartech=# SELECT * from mailing_list where first_name ilike '%y';
 id  | first_name |   location    |              email               |    company    | created_at
-----+------------+---------------+----------------------------------+---------------+------------
  14 | Camey      | Kenya         | cpaulind@delicious.com           | Linkbuzz      | 2019-01-31
  34 | Bendicty   | United States |                                  |               | 2018-12-19
  48 | Tabby      | Russia        | tjacob1b@microsoft.com           | Edgewire      | 2020-12-21
  51 | Bogey      | Greece        | bbyrnes1e@godaddy.com            | Topicware     | 2019-09-15
  60 | Alley      | Sri Lanka     |                                  | Katz          | 2021-02-02
  66 | Audrey     | Sri Lanka     | aramm1t@wiley.com                | Rooxo         | 2019-12-19
  67 | Lindsay    | Russia        | lfarley1u@economist.com          | Rhybox        | 2021-03-04
  73 | Geoffry    | Honduras      | geadie20@rakuten.co.jp           | Katz          | 2019-08-11
  77 | Gradey     | Russia        | ggauthorpp24@issuu.com           | Livefish      | 2020-07-16
  85 | Early      | Indonesia     |                                  | Wikizz        | 2020-04-12
 100 | Cathy      | United States | cwathan2r@hhs.gov                | Zoonder       | 2019-04-19
 108 | Lyndy      | China         | larnaudot2z@photobucket.com      | Minyx         | 2019-02-24
 130 | Tanny      | Brazil        |                                  | Aimbo         | 2020-04-29
 135 | Ivy        | Russia        | ipeckett3q@list-manage.com       | Thoughtstorm  | 2019-11-22
 165 | Rhody      | France        | rgisbey4k@unicef.org             | Skippad       | 2020-08-21
 171 | Kippy      | Colombia      | kagerskow4q@tuttocitta.it        | Dynabox       | 2018-08-28
 177 | Gabby      | Japan         | gpotzold4w@spiegel.de            | Wikibox       | 2018-07-29
 178 | Audy       | South Africa  | afassum4x@miibeian.gov.cn        |               | 2018-12-04
 193 | Cally      | Zambia        | ccritchley5c@surveymonkey.com    |               | 2018-05-27
 196 | Kayley     | France        | kdobrovolski5f@deliciousdays.com | Brightbean    | 2019-10-19
 205 | Ginny      | Germany       | gludy5o@loc.gov                  |               | 2019-04-20
 214 | Ky         | Bhutan        | kmulberry5x@pcworld.com          | Jaloo         | 2020-07-21
 227 | Cordy      | Moldova       | clie6a@latimes.com               | Gabvine       | 2019-05-27
 234 | Amity      | Russia        |                                  | Demivee       | 2020-06-18
 236 | Sly        | Reunion       | shouldey6j@nih.gov               | Gabtype       | 2020-01-21
 248 | Howey      | China         | hsnaddon6v@ft.com                | Flashset      | 2019-06-02
 253 | Chrissy    | Iran          | czecchinelli70@google.com.au     | Voomm         | 2020-02-14
 267 | Audrey     | Bolivia       |                                  | Brainverse    | 2018-05-23
 278 | Sonny      | Yemen         | smatissoff7p@netvibes.com        |               | 2020-10-21
 279 | Torey      | China         | tdemcik7q@reuters.com            | Nlounge       | 2020-06-28


reispartech=# SELECT * from mailing_list where location ilike 'c___'; (3 dash)
 id  | first_name | location |        email        | company | created_at
-----+------------+----------+---------------------+---------+------------
 245 | Meghann    | Cuba     |                     |         | 2021-01-02
 397 | Parsifal   | Cuba     | ploudeb0@rediff.com | Demizz  | 2020-11-22

#divide rows into groups in the mailing_list TABLE -using Group By Clause

 reispartech=# SELECT location from mailing_list group by location;
        location
------------------------
 Burkina Faso
 Bangladesh
 Indonesia
 Italy
 Venezuela
 Uruguay
 Czech Republic
 Sweden
 United Kingdom
 Uganda
 Jordan
 Dominican Republic
 Cambodia
 Germany
 Macedonia
 Papua New Guinea
 Canada
 Sri Lanka
 Uzbekistan
 Finland
 Portugal
 Colombia
 Albania
 Saudi Arabia
 Ukraine
 Argentina
 Cuba
 Latvia
 North Korea
 Azerbaijan
-- More  --

reispartech=# SELECT first_name, location from mailing_list group by first_name, location;
  first_name  |        location
--------------+------------------------
 Astrid       | Madagascar
 Dania        | Indonesia
 Ladonna      | Philippines
 Tabina       | France
 Marlon       | Indonesia
 Amity        | Russia
 Kathlin      | Russia
 Lockwood     | Norway
 Audrey       | Bolivia
 Winona       | Indonesia
 Dru          | Russia
 Brendan      | Venezuela
 Camey        | Kenya
 Danette      | Nigeria
 Bartholemy   | Cambodia
 Nestor       | Philippines
 Brinna       | Portugal
 Denys        | Slovenia
 Humfried     | Indonesia
 Chandra      | Russia
 Wilhelm      | Japan
 Ranique      | China
 Haleigh      | Palestinian Territory
 Sayre        | France
 Zelig        | China
 Anatole      | Poland
 Adelaide     | China
 Duane        | China
 Boone        | Indonesia
 Pablo        | Russia

 reispartech=# SELECT distinct(location) from mailing_list group by location;
        location
------------------------
 Burkina Faso
 Indonesia
 Bangladesh
 Italy
 Venezuela
 Uruguay
 Czech Republic
 Sweden
 United Kingdom
 Uganda
 Jordan
 Dominican Republic
 Germany
 Cambodia
 Macedonia
 Papua New Guinea
 Sri Lanka
 Canada
 Uzbekistan
 Portugal
 Finland
 Colombia
 Albania
 Ukraine
 Saudi Arabia
 Argentina
 Cuba
 Latvia
 North Korea
 Slovenia
 Azerbaijan
 Greece
 Egypt
 Afghanistan
-- More  --

#Using the aggregate funtion COUNT, match the number of rows in Location that matches the Condition Query

reispartech=# SELECT location, count(*) from mailing_list group by location;
        location        | count
------------------------+-------
 Burkina Faso           |     1
 Bangladesh             |     1
 Indonesia              |    50
 Italy                  |     1
 Venezuela              |     4
 Uruguay                |     1
 Czech Republic         |     6
 Sweden                 |    20
 United Kingdom         |     1
 Uganda                 |     2
 Jordan                 |     1
 Dominican Republic     |     3
 Cambodia               |     1
 Germany                |     1
 Macedonia              |     2
 Papua New Guinea       |     1
 Canada                 |     8
 Sri Lanka              |     4
 Uzbekistan             |     1
 Finland                |     2
 Portugal               |    11
 Colombia               |    10
 Albania                |     7
 Saudi Arabia           |     1
 Ukraine                |     4
 Argentina              |     3
 Cuba                   |     2
 Latvia                 |     2
 North Korea            |     1
 Azerbaijan             |     1
-- More  --


#Identify Locations that appear above four (4) times
HAVING- used after group by or before the order by

reispartech=# SELECT location, count(first_name) from mailing_list
reispartech-# group by location
reispartech-# having count(*) > 4
reispartech-# order by location;
    location    | count
----------------+-------
 Albania        |     7
 Brazil         |    13
 Canada         |     8
 China          |    84
 Colombia       |    10
 Czech Republic |     6
 France         |    15
 Greece         |     9
 Indonesia      |    50
 Japan          |    10
 Mexico         |     6
 Peru           |     7
 Philippines    |    25
 Poland         |    15
 Portugal       |    11
 Russia         |    38
 Slovenia       |     7
 Sweden         |    20
 Thailand       |     7
 United States  |    14
 Vietnam        |     6
(21 rows)

#Identify countries with Letter y in it

reispartech=# SELECT location from mailing_list group by location having location like '%y';
       location
-----------------------
 Palestinian Territory
 Italy
 Germany
 Uruguay
 Norway
(5 rows)

#In the products1 SQL Table, what is the least manufacturing cost?
reispartech=# SELECT MIN(manufacturing_cost) from products1;
  min
--------
 108.71
(1 row)

#In the products1 SQL Table, what is the highest manufacturing cost?
reispartech=# SELECT MAX(manufacturing_cost) from products1;
  max
--------
 999.12
(1 row)


reispartech=# SELECT product, MAX(manufacturing_cost) from products1 group by product;
              product               |  max
------------------------------------+--------
 Cup - 3.5oz, Foam                  | 384.47
 Pails With Lids                    | 957.43
 Knife Plastic - White              | 305.38
 Chicken - Soup Base                | 236.16
 Potatoes - Fingerling 4 Oz         | 585.45
 Wine - Touraine Azay - Le - Rideau | 521.15
 Island Oasis - Cappucino Mix       | 548.95
 Vinegar - Raspberry                | 970.28
 Potatoes - Mini Red                | 834.36
 Cilantro / Coriander - Fresh       | 614.64
 Lamb - Leg, Diced                  | 297.88
 Pork - Smoked Back Bacon           | 151.29
 Cookies Almond Hazelnut            | 986.93
 Oil - Peanut                       | 946.51
 Tea - Herbal Orange Spice          | 682.43
 Beef Tenderloin Aaa                | 875.89
 Pasta - Rotini, Colour, Dry        | 455.69
 Veal - Inside                      | 634.96
 Nut - Almond, Blanched, Whole      | 634.55
 Yoplait - Strawbrasp Peac          | 588.61
 Sauce - Oyster                     | 529.73
 Bread - Kimel Stick Poly           | 588.82
 Nantucket Apple Juice              | 916.16
 Cheese - Fontina                   | 912.22
 Tomatoes                           | 926.60
 Cheese - Mozzarella, Shredded      | 870.96
 Garbage Bag - Clear                | 990.83
 Ham - Cooked Bayonne Tinned        | 284.96
 Plaintain                          | 182.26
 Salmon - Fillets                   | 555.02 

#Identify products having a manufacturing cost greater than 200

reispartech=# SELECT product, MAX(manufacturing_cost) from products1 group by product, manufacturing_cost having manufacturing_cost>200;
              product               |  max
------------------------------------+--------
 Seabream Whole Farmed              | 623.37
 Energy Drink Red Bull              | 705.94
 Beef - Tongue, Cooked              | 797.14
 Milk - Condensed                   | 266.83
 Godiva White Chocolate             | 946.23
 Wine - Rubyport                    | 415.51
 Sage Ground Wiberg                 | 733.09
 Brownies - Two Bite, Chocolate     | 583.00
 Milk - 2%                          | 657.64
 Tuna - Salad Premix                | 200.71
 Rabbit - Saddles                   | 449.76
 Puree - Kiwi                       | 868.44
 Pasta - Elbows, Macaroni, Dry      | 346.59
 Wine - Chianti Classico Riserva    | 902.17
 Pail - 4l White, With Handle       | 531.52
 Rum - Cream, Amarula               | 922.64
 Milk - Chocolate 250 Ml            | 251.14
 Onions Granulated                  | 468.02
 Wine - Baron De Rothschild         | 658.67
 Bok Choy - Baby                    | 744.17
 Ice Cream - Turtles Stick Bar      | 446.37
 Rosemary - Primerba, Paste         | 457.09
 Bay Leaf Ground                    | 496.42
 Bok Choy - Baby                    | 726.23
 Pepper - Roasted Red               | 492.17
 Pork - Bacon, Sliced               | 568.60
 Sugar - Brown, Individual          | 594.08
 Onions - Pearl                     | 454.27
 Bread - Bistro White               | 669.83
 Propel Sport Drink                 | 709.14
-- More  --

#Give a 10% discount on your manufacturing prices

#Let's slash manufacturing_cost price by 10%
reispartech=# \d products1; #looking again at the table columns
                                         Table "public.products1"
       Column       |         Type          | Collation | Nullable |                Default
--------------------+-----------------------+-----------+----------+---------------------------------------
 id                 | bigint                |           | not null | nextval('products1_id_seq'::regclass)
 product            | character varying(50) |           | not null |
 manufacturing_cost | numeric(6,2)          |           |          |
 created_at         | date                  |           |          |
Indexes:
    "products1_pkey" PRIMARY KEY, btree (id)


reispartech=# SELECT * from products1; #exploring the product and their initial cost
 id  |              product               | manufacturing_cost | created_at
-----+------------------------------------+--------------------+------------
   1 | Milk - Condensed                   |             266.83 | 2019-12-03
   2 | Pasta - Shells, Medium, Dry        |             841.98 | 2018-09-16
   3 | Chips Potato Swt Chilli Sour       |             930.60 | 2020-07-15
   4 | Bread - Bistro Sour                |             697.19 | 2018-05-17
   5 | Wine - Valpolicella Masi           |             981.62 | 2020-12-11
   6 | Beans - Turtle, Black, Dry         |             526.63 | 2019-01-10
   7 | Sage Ground Wiberg                 |             733.09 | 2019-09-16
   8 | Pepper - Roasted Red               |             492.17 | 2021-01-22
   9 | Bread Crumbs - Japanese Style      |             149.15 | 2018-12-28
  10 | Tortillas - Flour, 10              |             180.17 | 2019-07-23
  11 | Wine - Rubyport                    |             415.51 | 2018-10-21
  12 | Capon - Breast, Double, Wing On    |             578.45 | 2019-02-20
  13 | Otomegusa Dashi Konbu              |             594.92 | 2020-05-05
  14 | Crab Brie In Phyllo                |             232.80 | 2020-05-19
  15 | Skirt - 24 Foot                    |             712.05 | 2018-12-22
  16 | Wine - Champagne Brut Veuve        |             214.41 | 2021-01-09
  17 | Muffin Mix - Chocolate Chip        |             619.62 | 2019-12-25
  18 | Wine - Ruffino Chianti Classico    |             387.55 | 2019-06-02
  19 | Bagelers                           |             993.76 | 2018-06-19
  20 | Chicken - Whole                    |             520.40 | 2020-03-29
  21 | Scallops - U - 10                  |             943.74 | 2019-10-30
  22 | Wine - Baron De Rothschild         |             658.67 | 2018-08-21
  23 | Cake - Cake Sheet Macaroon         |             770.26 | 2019-12-13
  24 | Red Currants                       |             907.84 | 2021-05-07
  25 | Egg - Salad Premix                 |             276.76 | 2019-12-30
  26 | Beans - Soya Bean                  |             804.32 | 2020-05-12
  27 | Wine - Cotes Du Rhone              |             438.43 | 2019-02-22
  28 | Foie Gras                          |             126.70 | 2018-07-01
  29 | Cheese - Swiss Sliced              |             925.18 | 2018-08-13
  30 | Wine - Pinot Noir Pond Haddock     |             820.50 | 2018-12-10
-- More  --

#Apply the 10% discount on manufacturing cost
reispartech=# SELECT id, product, manufacturing_cost, manufacturing_cost*.10 FROM products1;
 id  |              product               | manufacturing_cost | ?column?
-----+------------------------------------+--------------------+----------
   1 | Milk - Condensed                   |             266.83 |  26.6830
   2 | Pasta - Shells, Medium, Dry        |             841.98 |  84.1980
   3 | Chips Potato Swt Chilli Sour       |             930.60 |  93.0600
   4 | Bread - Bistro Sour                |             697.19 |  69.7190
   5 | Wine - Valpolicella Masi           |             981.62 |  98.1620
   6 | Beans - Turtle, Black, Dry         |             526.63 |  52.6630
   7 | Sage Ground Wiberg                 |             733.09 |  73.3090
   8 | Pepper - Roasted Red               |             492.17 |  49.2170
   9 | Bread Crumbs - Japanese Style      |             149.15 |  14.9150
  10 | Tortillas - Flour, 10              |             180.17 |  18.0170
  11 | Wine - Rubyport                    |             415.51 |  41.5510
  12 | Capon - Breast, Double, Wing On    |             578.45 |  57.8450
  13 | Otomegusa Dashi Konbu              |             594.92 |  59.4920
  14 | Crab Brie In Phyllo                |             232.80 |  23.2800
  15 | Skirt - 24 Foot                    |             712.05 |  71.2050
  16 | Wine - Champagne Brut Veuve        |             214.41 |  21.4410
  17 | Muffin Mix - Chocolate Chip        |             619.62 |  61.9620
  18 | Wine - Ruffino Chianti Classico    |             387.55 |  38.7550
  19 | Bagelers                           |             993.76 |  99.3760
  20 | Chicken - Whole                    |             520.40 |  52.0400
  21 | Scallops - U - 10                  |             943.74 |  94.3740
  22 | Wine - Baron De Rothschild         |             658.67 |  65.8670
  23 | Cake - Cake Sheet Macaroon         |             770.26 |  77.0260
  24 | Red Currants                       |             907.84 |  90.7840
  25 | Egg - Salad Premix                 |             276.76 |  27.6760
  26 | Beans - Soya Bean                  |             804.32 |  80.4320
  27 | Wine - Cotes Du Rhone              |             438.43 |  43.8430
  28 | Foie Gras                          |             126.70 |  12.6700
  29 | Cheese - Swiss Sliced              |             925.18 |  92.5180
  30 | Wine - Pinot Noir Pond Haddock     |             820.50 |  82.0500
-- More  --

#I'm going to use an Alias here (to set a header name for the new column and new price after discount)

reispartech=# SELECT id, product, manufacturing_cost, manufacturing_cost*.10 AS discount, (manufacturing_cost -
reispartech(# manufacturing_cost*.10) AS New_price from products1;
 id  |              product               | manufacturing_cost | discount | new_price
-----+------------------------------------+--------------------+----------+-----------
   1 | Milk - Condensed                   |             266.83 |  26.6830 |  240.1470
   2 | Pasta - Shells, Medium, Dry        |             841.98 |  84.1980 |  757.7820
   3 | Chips Potato Swt Chilli Sour       |             930.60 |  93.0600 |  837.5400
   4 | Bread - Bistro Sour                |             697.19 |  69.7190 |  627.4710
   5 | Wine - Valpolicella Masi           |             981.62 |  98.1620 |  883.4580
   6 | Beans - Turtle, Black, Dry         |             526.63 |  52.6630 |  473.9670
   7 | Sage Ground Wiberg                 |             733.09 |  73.3090 |  659.7810
   8 | Pepper - Roasted Red               |             492.17 |  49.2170 |  442.9530
   9 | Bread Crumbs - Japanese Style      |             149.15 |  14.9150 |  134.2350
  10 | Tortillas - Flour, 10              |             180.17 |  18.0170 |  162.1530
  11 | Wine - Rubyport                    |             415.51 |  41.5510 |  373.9590
  12 | Capon - Breast, Double, Wing On    |             578.45 |  57.8450 |  520.6050
  13 | Otomegusa Dashi Konbu              |             594.92 |  59.4920 |  535.4280
  14 | Crab Brie In Phyllo                |             232.80 |  23.2800 |  209.5200
  15 | Skirt - 24 Foot                    |             712.05 |  71.2050 |  640.8450
  16 | Wine - Champagne Brut Veuve        |             214.41 |  21.4410 |  192.9690
  17 | Muffin Mix - Chocolate Chip        |             619.62 |  61.9620 |  557.6580
  18 | Wine - Ruffino Chianti Classico    |             387.55 |  38.7550 |  348.7950
  19 | Bagelers                           |             993.76 |  99.3760 |  894.3840
  20 | Chicken - Whole                    |             520.40 |  52.0400 |  468.3600
  21 | Scallops - U - 10                  |             943.74 |  94.3740 |  849.3660
  22 | Wine - Baron De Rothschild         |             658.67 |  65.8670 |  592.8030
  23 | Cake - Cake Sheet Macaroon         |             770.26 |  77.0260 |  693.2340
  24 | Red Currants                       |             907.84 |  90.7840 |  817.0560
  25 | Egg - Salad Premix                 |             276.76 |  27.6760 |  249.0840
  26 | Beans - Soya Bean                  |             804.32 |  80.4320 |  723.8880
  27 | Wine - Cotes Du Rhone              |             438.43 |  43.8430 |  394.5870
-- More  --

#Save this into a temporary DB

#let's push this to a temp table
reispartech=# SELECT id, product, manufacturing_cost, manufacturing_cost*.10 AS discount, (manufacturing_cost -
reispartech(# manufacturing_cost*.10) AS New_price INTO temp_price from products1;
SELECT 500
reispartech=# \d
                 List of relations
 Schema |        Name         |   Type   |  Owner
--------+---------------------+----------+----------
 
 public | temp_price          | table    | postgres
(9 rows)

reispartech=# drop table temp_price;
DROP TABLE

Show Table without old manufacturing cost, show new cost and temporary save into a DB

#let's remove the initial manufacturing_cost
reispartech=# SELECT id, product, manufacturing_cost*.10 AS discount, (manufacturing_cost -
reispartech(# manufacturing_cost*.10) AS New_price INTO temp_price from products1;
SELECT 500
reispartech=# select * from temp_price; #show new table

 id  |              product               | discount | new_price
-----+------------------------------------+----------+-----------
   1 | Milk - Condensed                   |  26.6830 |  240.1470
   2 | Pasta - Shells, Medium, Dry        |  84.1980 |  757.7820
   3 | Chips Potato Swt Chilli Sour       |  93.0600 |  837.5400
   4 | Bread - Bistro Sour                |  69.7190 |  627.4710
   5 | Wine - Valpolicella Masi           |  98.1620 |  883.4580
   6 | Beans - Turtle, Black, Dry         |  52.6630 |  473.9670
   7 | Sage Ground Wiberg                 |  73.3090 |  659.7810
   8 | Pepper - Roasted Red               |  49.2170 |  442.9530
   9 | Bread Crumbs - Japanese Style      |  14.9150 |  134.2350
  10 | Tortillas - Flour, 10              |  18.0170 |  162.1530
  11 | Wine - Rubyport                    |  41.5510 |  373.9590
  12 | Capon - Breast, Double, Wing On    |  57.8450 |  520.6050
  13 | Otomegusa Dashi Konbu              |  59.4920 |  535.4280
  14 | Crab Brie In Phyllo                |  23.2800 |  209.5200
  15 | Skirt - 24 Foot                    |  71.2050 |  640.8450
  16 | Wine - Champagne Brut Veuve        |  21.4410 |  192.9690
  17 | Muffin Mix - Chocolate Chip        |  61.9620 |  557.6580
  18 | Wine - Ruffino Chianti Classico    |  38.7550 |  348.7950
  19 | Bagelers                           |  99.3760 |  894.3840
  20 | Chicken - Whole                    |  52.0400 |  468.3600
  21 | Scallops - U - 10                  |  94.3740 |  849.3660
  22 | Wine - Baron De Rothschild         |  65.8670 |  592.8030
  23 | Cake - Cake Sheet Macaroon         |  77.0260 |  693.2340
  24 | Red Currants                       |  90.7840 |  817.0560
  25 | Egg - Salad Premix                 |  27.6760 |  249.0840
  26 | Beans - Soya Bean                  |  80.4320 |  723.8880
  27 | Wine - Cotes Du Rhone              |  43.8430 |  394.5870
-- More  --